__pycache__
*.*~
#*#
*.wav
train_*
tmp
*.db
*.mat
*.npy
.idea/
ue_body_data.json
.vs/
tmp.txt
ttsa_test.py
grpc_server.config
logs/
*.pt
mel_tacotron/
*.ctl
models/
tmp
tools/word2symbols_file.txt
cmd.sh
*.pb
*.onnx
data/
toy_data/
.data/
runs/
*.zip
